/* large */
@media screen and (max-width:1100px) {
    .column{
        flex-wrap: wrap;
    }
    .song{
        width: calc(100% / 4 - 1rem);
    }
}

/* small */
@media screen and (max-width:700px) {
    .song{
        width: calc(100% / 2 - 1rem);
    }
}

/* extra small */
@media screen and (max-width:600px) {
    .container-sx{
        width: 50px;
    }
    .logo .big,
    .container-sx a,
    .container-sx .nav-2,
    .account span,
    .account h5{
        display: none;
    }
    .logo{
        padding-top: 0.3rem;
        padding-bottom: 0;
    }
    .logo .small{
        display: block;
    }
}