@media screen and (max-width:1100px) {
    .column{
        flex-wrap: wrap;
    }
    .song{
        width: calc(100% / 4);
    }
}
@media screen and (max-width:700px) {
    .song{
        width: calc(100% / 2);
    }
}