/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** GENERAL **********/
body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-1: white;
    --color-2: #7c7e83;
}
a{
    text-decoration: none;
    color: lightgray;
}
.flex{
    display: flex;
}
img{
    width: 100%;
}
h4{
    color: var(--color-1);
}
ul{
    list-style: none;
}
span{
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
a:hover{
    color: white;
}


/********** MAIN **********/
.main-container{
    height: 90vh;
}
span, a{
    font-size: 0.8em;
}

/* CONTAINER SX */
.container-sx{
    width: 250px;
    background-color: black;
    position: relative;
}

/* header */
.logo{
    padding: 1rem;
}
.logo .big{
    width: 70%;
}
.logo .small{
    width: 30px;
    display: none;
}

/* navigation sx*/
.navigation-sx *{
    color: var(--color-2);
}
.nav-1 img{
    width: 25px;
    vertical-align: middle;
}
.nav-1 ul li{
    margin: 0.5rem 1rem;
}
.nav-1 ul li:first-child a{
    color: white;
}
.nav-2{
    /* height: 100%; */
    padding: 1rem;
}
.playlist ul li{
    margin-top: 0.5rem
}
.add > button{
    height: 30px;
    width: 30px;
    background-color: var(--color-2);
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: none;
    margin: 0.5rem 0;
    color: black;
    vertical-align: middle;
}
.add > span{
    font-size: 1em;
    margin-left: 0.5rem;
}

/* account */
.account{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.account{
    padding: 1rem;
    background-color: black;
    color: var(--color-2);
}
.account img{
    /* margin-right: 0.5rem; */
    vertical-align: middle;
}
.account > span{
    font-size: 0.7em;
    color: var(--color-2);
}
.account img:not(.user){
    width: 10px;
}
.account hr{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}
.account h5{
    display: inline-block;
    color: var(--color-1);
}
.user{
    width: 15px;
    background-color: var(--color-2);
    border-radius: 50%;
}
.account h5 > i{ 
    font-size: 1.3em;
}



/* CONTAINER DX*/
.main-container .container-dx {
    width: 100%;
    background-color: #141922;
    overflow: auto;
}
.box{
    padding: 1rem;
    margin: 0 auto;
}

/* header */
.container-dx > header{
    background-color: red;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.upgrade{
    text-align: end;
    line-height: 70px;
    margin-right: 1rem;
}
.upgrade a{
    color: var(--color-1);
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    font-size: 0.8em;
}
.container-dx img{
    display: block;
}
/* main navigation */
.navigation-dx ul{
    text-align: center;
    padding: 10px 0;
}
.navigation-dx ul li{
    display: inline-block;
    margin: 0 10px;
}
.navigation-dx ul li{
    font-size: 1em;
}

/* sections */
.box h2{
    color: var(--color-1);
}
.box h2{
    margin-bottom: 0.3rem;
}
.box span{
    color: var(--color-2);
}
.column{
    margin: 1rem 0;
    flex-wrap: wrap;
}
.song{
    width: calc(100% / 6 - 1rem);
    text-align: center;
    margin-right: 1rem ;
    margin-bottom: 1rem;
}
.song > h4{
    margin: 5px 0;
}
.img-song{
    position: relative;
}
.screenplay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    display: none;
}
.screenplay > a{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-song:hover .screenplay{
    display: block;
}
.popular-artists img,
.popular-artists .screenplay{
    border-radius: 50%;
}

/********** FOOTER **********/
footer {
    background-color: #282828;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
footer > div{
    width: calc(100% / 3);
}
footer span{
    font-size: 0.5em;
}
footer a{
    margin-left: 0.5rem;
}

/* parte sinistra */
.part-sx img{
    margin-left: 0.5rem;
    width: 40px;
    vertical-align: middle;
}
.part-sx div{
    display: inline-block;
    vertical-align: middle;
    line-height: 7px;
}
.part-sx .favourite{
    margin-left: 2rem;
}
.part-sx h6{
    color: var(--color-1);
}
.part-sx span{
    color: var(--color-2);
}

/* parte centrale */
.part-center{
    text-align: center;
    min-width: 240px;
}
.part-center > .buttons *{
    border: none;
    background-color: transparent;
    margin: 0 0.3rem;
    color: white;
    margin-bottom: 0.2rem;
    vertical-align: middle;
}
.play{
    font-size: 1.5em;
}
.range{
    
}
.range input{
    width: 80%;
    height: 5px;
    margin: 0 1rem;
}
.part-center span{
    color: var(--color-1);
}

/* parte destra */
.part-dx{
    text-align: end;
}
.part-dx > input{
    width: 20%;
    height: 5px;
    margin: 0 0.5rem;
}