/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** GENERAL **********/
body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-1: white;
    --color-2: lightgray;
}
a{
    text-decoration: none;
    color: lightgray;
}
header{
    height: 70px;
}
.flex{
    display: flex;
}
img{
    width: 100%;
}
h4{
    color: var(--color-1);
}
ul{
    list-style: none;
}

/********** MAIN **********/
.main-container{
    height: 90vh;
}
span, a{
    font-size: 0.8em;
}

/* CONTAINER SX */
.container-sx{
    width: 250px;
    background-color: black;
    position: relative;
}

/* header */
.logo{
    margin-left: 1rem;
}
.logo img{
    width: 70%;
}

/* navigation sx*/
.nav-1 ul li{
    margin: 0.5rem 1rem;
}
.nav-2{
    height: 250px;
    padding: 1rem;
}
.playlist ul li{
    margin-top: 0.5rem
}
.add > button{
    height: 30px;
    width: 30px;
    background-color: var(--color-2);
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    border: none;
    margin: 0.5rem 0;
}
.add > span{
    color: lightgrey;
    font-size: 1em;
    margin-left: 0.5rem;
}

/* account */
.account{
    padding: 1rem;
    background-color: black;
}
.account > span{
    font-size: 0.7em;
    color: var(--color-2);
}
.account i{
    margin-right: 0.5rem;
}
.account hr{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem
}
.account h5{
    color: var(--color-1);
}
.account h5 > i{ 
    font-size: 1.3em;
}

.account{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* CONTAINER DX*/
.container-dx > header{
    background-color: red;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-container .container-dx {
    width: 100%;
    background-color: blue;
    overflow: auto;
}
.box{
    width: 95%;
    margin: 0 auto;
}

/* effettuare upgrade */
.upgrade{
    text-align: end;
    line-height: 70px;
}
.upgrade a{
    color: var(--color-1);
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    margin-right: 1rem;
    font-size: 0.8em;
}
/* main navigation */
.main-nav{
    margin-bottom: 2rem;
}
.main-nav ul{
    text-align: center;
    padding: 10px 0;
}
.main-nav ul li{
    display: inline-block;
    margin: 0 10px;
}
.main-nav ul li{
    font-size: 1em;
}

/* sections */
.box h2{
    color: var(--color-1);
}
.box h2{
    margin-bottom: 0.3rem;
}
.box span{
    color: var(--color-2);
}
.column{
    margin: 1.5rem -0.5rem;
}
.song{
    width: calc(100% / 6);
    margin: 0.5rem;
    text-align: center;
}
.song > h4{
    margin: 5px 0;
}
.popular-artists img{
    border-radius: 50%;
}
























/* DEBUG */



footer {
    background-color: gray;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
footer > div{
    border: 1px solid black;
    width: calc(100% / 3);
    height: 50px;
}
.part-sx img{
    width: 50px;
    vertical-align: middle;
}
.part-sx div{
    display: inline-block;
    vertical-align: middle;
}